* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMUNI */
body {
    font-family: 'Roboto', sans-serif;
}

.contenitore {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

header,
footer {
    color: white;
}

button {
    margin: 10px;
    border-radius: 50px;
    border: none;
    padding: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 50px;
    word-spacing: 10px;
}

h3 {
    font-size: 40px;
    padding-bottom: 30px;
}

p {
    font-size: 25px;
    padding-top: 35px;
    line-height: 40px;
}

span {
    margin: 5px;
}

.sfondo {
    background-color: #d3d3d3;
}

/* /COMUNI */

/* DEBUG COMUNE */

.debug .verde,
.debug .colonna-1,
.debug .fine>div {
    border: 2px dashed black;
}

/* /DEBUG COMUNE */


/* DEBUG MAIN */




/* /DEBUG MAIN */
/* DEBUG FOOTER */
.debug footer {
    background-color: #23272a;
}

.debug .colonna-1 {
    background-color: #f08080;
    height: 600px;
}

.debug .colonna-2 {
    background-color: #20b2aa;
    height: 600px;
}

.debug .colonna-2>div {
    border: 2px dashed white;
}

.debug .fine {
    height: 85px;
    background-color: #7fffd4;
}

.debug .fine>div {
    background-color: #ffb6c1;
}

/* /DEBUG FOOTER */

/* header */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* prima parte header */

.credenziali {
    max-width: 1250px;
    justify-content: space-between;
    padding: 20px;

}


.link {
    width: 60%;
    text-align: center;
}

.logo {
    width: 20%;
}

/* /prima parte header */
/* seconda parte header */
.testo {
    max-width: 950px;
    flex-direction: column;
}

.titolo {
    padding: 55px;
}

.bottoni {
    justify-content: center;
    padding: 10px 0 100px;
}

.testo>p {
    text-align: center;
}

.bottoni>button {
    padding: 10px;
}

.bottoni :nth-child(1)::before,
.immagine>button::before {
    content: '\1F847';
}

.bottoni :nth-child(2) {
    background-color: black;
    color: white;
}

/* seconda parte header */
/* /header */

/* main */

.colonna {
    padding: 100px 200px;
}

.colonna1 {
    max-width: 60%;
    ;
}

.colonna2 {
    max-width: 40%;
    padding: 50px;
}

.schermo {
    padding: 100px 250px;
    flex-direction: column;
    align-items: center;
}

.grande {
    background-color: #d3d3d3;
}

.immagine {
    width: 1250px;
    flex-direction: column;
    align-items: center;
}

.immagine>img {
    width: 100%;
}

.schermo>p {
    text-align: center;
}

.immagine>button {
    background-color: #7289da;
    color: white;
}

/* /main */

/* footer */

.foot {
    padding-top: 80px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

.colonna-1 {
    width: 370px;
}

.colonna-1>img {
    width: 30px;
    height: 20px;
    vertical-align: bottom;
}

.caratteri-speciali {
    padding-top: 15px;
    word-spacing: 15px;
}

.colonna-2 {
    width: 875px;
    display: flex;
    justify-content: space-between;
}

.colonna-2>div {
    flex-grow: 1;
}

.fine {
    max-width: 1250px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.fine>div {
    padding: 5px;
}

/* /footer */