* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMUNI */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

header,
footer {
    color: white;
}

footer {
    background-color: #23272a;
}

.contenitore {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

button {
    margin: 10px;
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
}

.sfondo {
    background-color: #d3d3d3;
}

.immagine>button,
.fine>button {
    background-color: #7289da;
    color: white;
}
img{
    display: inline-block;
    width: 100%;
}

/* /COMUNI */
/* Font */
h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 50px;
    word-spacing: 10px;
}

h3 {
    font-size: 40px;
    padding-bottom: 30px;
}

.colonna-1>h3,
h4 {
    color: #7289da;
}

p {
    font-size: 25px;
    padding-top: 35px;
    line-height: 40px;
}


/* /font */

/* header */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* prima parte header */

.credenziali {
    max-width: 1250px;
    justify-content: space-between;
    padding: 20px;

}

.link {
    width: 60%;
    text-align: center;
    padding-top: 15px
;
}

.link>span {
    margin: 20px;
}


/* /prima parte header */
/* seconda parte header */
.testo {
    max-width: 950px;
    flex-direction: column;
}

.titolo {
    padding: 55px;
}

.bottoni {
    padding: 10px 0 100px;
}

.testo>p {
    text-align: center;
}

.bottoni>button {
    padding: 10px;
}

.bottoni :nth-child(1)::before,
.immagine>button::before {
    content: '\1F847';
}

.bottoni :nth-child(2) {
    background-color: black;
    color: white;
}

/* seconda parte header */
/* /header */

/* main */
/* sezioni 1-3 */
.colonna {
    padding: 100px 200px;
}

.colonna1 {
    width: 60%;
    
}

.colonna2 {
    width: 40%;
    padding: 50px;
}

/* /sezioni 1-3 */
/* sezione 4 */
.schermo {
    padding: 100px 250px;
    flex-direction: column;
    align-items: center;
}

.immagine {
    width: 1250px;
    flex-direction: column;
    align-items: center;
}

.schermo>p {
    text-align: center;
}


/* /sezione 4 */
/* /main */

/* footer */
/* prima parte footer */

.foot {
    padding-top: 80px;
    padding-bottom: 50px;
}

.colonna-1 {
    width: 370px;
}

.colonna-1>img {
    width: 30px;
    height: 20px;
}

.caratteri-speciali {
    padding-top: 15px;
    word-spacing: 15px;
}

.colonna-2 {
    width: 875px;
    display: flex;
    justify-content: space-between;
}

.colonna-2>div {
    flex-grow: 1;
}

li {
    margin: 15px 0;
    list-style: none;
}

/* /prima parte footer */
/* seconda parte footer */
.fine {
    max-width: 1250px;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 2px solid #7289da;
    padding: 20px 0;
}

/* /seconda parte footer */
/* /footer */


/* star */
.immagine>h3{
    background-image: url(../img/stars.svg);
    padding: 50px;
    background-position: center top;
    background-repeat: no-repeat;
}
